body { 
    /* font-family:"Lucida Console", Monaco, monospace; */
	/* font-family:Georgia,"Times New Roman",Times,serif;  */
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:#e0e0e0;

}

a:link,a:visited {
    text-decoration:none;
    color:blue;
}

a:hover {
    color:red;
}

h5 {
    font-size: 1.20em;
}

h6 {
    font-size: 1.10em;
    font-weight:normal;
    text-decoration:underline;
}

.cen_image {
    display:block;
    margin: 0 auto; 
}

.wimage {
    /* Center image: */
    display:block;
    margin: 0 auto; 
    /* Auto adjust size: */
    max-width:100%;
    max-height:100%;
}

