body { 
	/* font-family:"Lucida Console", Monaco, monospace; */
	/* font-family:Georgia,"Times New Roman",Times,serif;  */
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	/* font-family:"Comic Sans MS", cursive, sans-serif; */
	/* font-family:"Georgia, serif"; */
	background-color:#e0e0e0;
	/* background-color:#f0f0f0; */

}
li {
	margin: 1em 0;
}
a:link,a:visited {
    text-decoration:none;
    color:blue;
}

a:hover {
    color:red;
}

/* Headers: */

h1 {
    font-size: 2.05em;
}

h2 {
    font-size: 1.85em;
}

h3 {
    font-size: 1.65em;
}

h4 {
    font-size: 1.45em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1.05em;
    font-weight:normal;
    text-decoration:underline;
}

/* Code Highlight settings */
.codehilite {
      padding-top: 3px;  
      padding-right: 10px;  
      padding-bottom: 3px;  
      padding-left: 10px;  
}


.cen_image {
    display:block;
    margin: 0 auto; 
}

.wimage {
    /* Center image: */
    display:block;
    margin: 0 auto; 
    /* Auto adjust size: */
    max-width:100%;
    max-height:100%;
}

.pict_desc {
    font-size: 0.8em;
}

.famous_quote {
	font-style:italic;
	font-size:1.25em;
}


