body { 
    /* font-family:"Lucida Console", Monaco, monospace; */
	/* font-family:Georgia,"Times New Roman",Times,serif;  */
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:#e0e0e0;

}

a:link,a:visited {
    text-decoration:none;
    color:blue;
}

a:hover {
    color:red;
}

.wimage {
    display:block;
    margin: 0 auto; 
}
